@model List<IrisCareSolutions.Models.Exame>

@{
    ViewData["Title"] = "Exames";
}

<h2>Exames</h2>

<p>
    <a asp-action="Create">Upload</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Pesquisar por ID">
        <input type="submit" value="Pesquisar" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].ExameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Data)
            </th>
            <th>
                Arquivo de Resultado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ResultadoPath))
                    {
                        <a href="@item.ResultadoPath" target="_blank">Baixar Arquivo</a>
                    }
                    else
                    {
                        <span>Nenhum arquivo enviado</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExameId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExameId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
