@model Exame

@{
    ViewData["Title"] = "Exames";
}

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .max-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tituloExame {
       color: #89ffdb !important;
    }

    .listaExame {
        color: #ffffff !important;
    }
</style>

<div class="cover">
    <img class="max-img" src="~/assets/Background.png" alt="Imagem de background" />
</div>

<h2 class="listaExame">Tutelado: @ViewBag.Tutelado.Nome</h2>
<hr />
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<div class="row">
    <div class="col-6 listaExame">
        <h3 class="tituloExame">Agendar</h3>
        <form asp-action="agendar">
    <input type="hidden" asp-for="TuteladoId" 
                    value="@ViewBag.Tutelado.TuteladoId" />
            <div class="mb-3 listaExame">
                <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
    </div>
            <div class="mb-3 listaExame">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
    </div>
            <div class="mb-3 listaExame">
        <label asp-for="Data"></label>
        <input asp-for="Data" class="form-control" />
    </div>
    <button class="btn btn-success">Agendar</button>
</form>
    </div>
    <div class="col-6">
        <h3 class="tituloExame">Exames</h3>
        <table class="table">
            <tr class="listaExame">
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data</th>
            </tr>
            @foreach (var item in ViewBag.exames)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>@item.Data</td>
                </tr>
            }
        </table>
    </div>
</div>

