@model List<Tutelado>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .max-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tituloTutelados, .tabelaCor {
        color: #89ffdb !important;
    }
</style>

<div class="cover">
    <img class="max-img" src="~/assets/Background.png" alt="Imagem de background" />
</div>

<h1 class="tituloTutelados">Tutelados</h1>
@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form class="row" asp-action="index" method="get">
    <div class="col-4">
        <input name="filtro" class="form-control" type="text" placeholder="Digite o nome"/>
    </div>
    <button class="col-2 btn btn-success">Pesquisar</button>
</form>

<table class="table table-striped">
    <tr class="tabelaCor">
        <th>Nome</th>
        <th>CPF</th>
        <th>Data Nascimento</th>
        <th>Tipo de Atendimento</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="tabelaCor">
            <td>@item.Nome</td>
            <td>@item.Cpf</td>
            <td>@item.DataNascimento.ToShortDateString()</td>
            <td>@item.ModalidadeAtendimento</td>
            <td>
                <a asp-action="editar" asp-route-id="@item.TuteladoId"
                   class="btn btn-sm btn-outline-light">Editar</a>
                <!-- Button trigger modal -->
                <button onclick="key.value = @item.TuteladoId" type="button" class="btn btn-sm btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remover
                </button>
                <a asp-action="exames" asp-route-id="@item.TuteladoId" class="btn btn-sm btn-outline-light">Exames</a>
                <a asp-action="lembretes" asp-route-id="@item.TuteladoId" class="btn btn-sm btn-outline-light">Lembretes</a>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar o tutelado?
            </div>
            <div class="modal-footer">
                <form asp-action="excluir">
                    <input type="hidden" name="id" id="key" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

